@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* font-family: font-family: "Italiana", sans-serif; */

:root {
    --main-color: #d9d9d9;
    --titles-font: "Italiana", sans-serif;
    --background-color:#B6D0A6;
    --title-color: #305834;
    --footer-title-font: font-family: "Italiana", sans-serif;
    --dark-grey: #343434;
}

body {
    background-color: var(--main-color);
}
header {
    display: flex;
    text-align: center;
    margin-top: 40px;
    justify-content: center;
}
footer {
    display: flex;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
}

header a {
    display: block;
    text-decoration: none;
    font-weight: bolder;
    color: var(--dark-grey);  
    background-color: var(--background-color);
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    font-family: var(--titles-font);
    font-size: 1.2em;
    width: 60%;
    
}

footer span {
    display: block;
    text-decoration: none;
    color: black;  
    padding: 5px 35px 5px 35px;
    border-radius: 5px;
    font-family: var(--footer-title-font); 
    font-size: 0.75em;
    width:60%;
}

main {
    font-family: var(--titles-font);
    margin: auto 15px auto 15px;
    display: flex;
    flex-direction: column;
}

main h2 {
    font-size: 0.95em;
    font-weight: bolder;
}

.img_container {
   width: 100%;
   overflow-x: auto;
   display: flex; 
   gap: 17px;
}

main section div img {
    width: 100px;
    height: 100px;
}
#add_button {
    margin-top: 30px;
    margin-left: auto;
}

#add_button img {
    height: 35px;
    width: 35px;
}